<div class="row">
  <p class="bg-primary text-center">齐鲁交通青岛公司绩效评分</p>
</div>
<h4 class="title">张三</h4>
<p class="lead">每个人需要多次打分</p>
<div class="row">
  <div class="panel panel-primary">张三</div>
</dvi>
